# Midterm Project: Restaurants üçîüçü

## Due Monday, May 5th at 11:59PM

Welcome to the Midterm Project! Projects in DSC 10 are similar in format to homeworks, but are different in a few key ways. First, a project is comprehensive, meaning that it draws upon everything we've learned this quarter so far. Second, since problems can vary quite a bit in difficulty, some problems will be worth more points than others. Finally, in a project, the problems are more open-ended; they will usually ask for some result, but won't tell you what method should be used to get it. There might be several equally-valid approaches, and several steps might be necessary. This is closer to how data science is done in "real life."

It is important that you **start early** on the project! It will take the place of a homework in the week that it is due, but you should also expect it to take longer than a homework. You are especially encouraged to **find a partner** to work through the project with. If you work in a pair, you must follow the [Project Partner Guidelines](https://dsc10.com/project-partners/) on the course website. In particular, you must work together at the same time, and you are not allowed to split up the project and each work on certain problems. If you work with a partner, only one of you needs to upload your notebook to Gradescope; after uploading, you'll see an option to add the other partner to the submission.

**Important:** The `otter` tests don't usually tell you that your answer is correct. More often, they help catch basic mistakes. It's up to you to ensure that your answer is correct. If you're not sure, ask someone (not for the answer, but for some guidance about your approach). Directly sharing answers between groups is not okay, but discussing problems with the course staff or with other students is encouraged.

**Please do not use for-loops or import any packages.** Loops in Python are slow, and looping over arrays and DataFrames should usually be avoided in favor of commands that are meant specifically for these objects. This entire project can be done without any loops, using the tools we've learned so far in DSC 10. Please do no import any additional packages - you don't need them, and our autograder may not be able to run your code if you do.

As you work through this project, there are a few resources you may want to have open:
- [DSC 10 Reference Sheet](https://dsc-courses.github.io/bpd-reference/docs/documentation/intro/)
- [`babypandas` notes](https://notes.dsc10.com/front.html)
- Other links in the [Resources](https://dsc10.com/resources/) and [Debugging](https://dsc10.com/debugging/) tabs of the course website

Start early, good luck, and let's begin! üèÉ

In [ ]:
# Please don't change this cell but do run it.
import babypandas as bpd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')

import otter
grader = otter.Notebook()

## Outline

Use this outline to help you quickly navigate to the part of the project you're working on:
- [The Data](#data)    
- [Part 1. Chains ‚õìÔ∏è](#part1) 
    - Questions 1.1 - 1.12    
- [Part 2. Cities üåÜ](#part2) 
    - Questions 2.1 - 2.8
- [Part 3. Stars ‚≠êÔ∏è](#part3) 
    - Questions 3.1 - 3.6

<a id='data'></a>
## The Data

In this project, we will explore several restaurant rankings from [Restaurant Business](https://www.restaurantbusinessonline.com) (RB), a media brand that provides business intelligence insights for commercial restaurants. The data is a few years old; it was collected in 2022 and includes information on year-end sales from 2021. 

Our data is split across three different CSV files, each of which contains a different set of restaurants, using a different ranking methodology. Run the cell below to load in our data as DataFrames.

In [ ]:
future = bpd.read_csv('data/Future50.csv')

independents = bpd.read_csv('data/Independents100.csv')

chain_restaurants = bpd.read_csv('data/Top250.csv')

The `future` DataFrame contains information about the 50 fastest-growing restaurant chains in the US whose yearly sales are between 25 and 50 million dollars.  Because of the moderate range for yearly sales, the `future` DataFrame does not include restaurant giants like McDonald's and Starbucks. Instead, the restaurant chains in the `future` DataFrame are mid-sized restaurant chains that may boom in popularity in the future, hence the DataFrame's name.

The `future` DataFrame is sorted in descending order of 2021 `'Sales'`, which are reported in millions in dollars. The DataFrame also includes the percentage change in sales from 2020 to 2021 ('YOY_Sales'; YOY stands for "Year-over-Year"). The `'Location'` column refers to the city where the chain is headquartered, not to any specific location. 

Run the cell below to take a look at the `future` DataFrame, and [click here](https://www.restaurantbusinessonline.com/future-50-2022) to see the ranking on RB's website.

In [ ]:
future

The `independents` DataFrame contains information about the 100 highest-grossing independent restaurants in the US in 2021, sorted by `'Sales'` in decreasing order. Here, `'Sales'` are measured in dollars, not in millions of dollars. A restaurant is classified as "independent" if it has fewer than five locations; unlike in the `future` DataFrame, the `'City'` column here corresponds to the actual location of the restaurant.

In [ ]:
independents

Finally, the `chain_restaurants` DataFrame contains information about the 250 largest restaurant chains in the US in 2020, sorted by `'Sales'` in decreasing order. Here, sales are measured in millions, so McDonald's sales value of `40517` really means \$40.5 billion dollars.

Run the cell below to take a look at the `chain_restaurants` DataFrame.

In [ ]:
chain_restaurants

<a id='part1'></a>
## Part 1 ‚Äì Chains ‚õìÔ∏è

Let's start by asking questions about the `chain_restaurants` DataFrame; we'll take a closer look at our other two DataFrames later.

### Question 1.1 
**1 point**

The `chain_restaurants` DataFrame has many columns that we aren't going to look at. Below, create a new DataFrame called `chains` with only has the columns `'Rank'`, `'Restaurant'`, `'Sales'`, `'YOY_Sales'`, and `'Segment_Category'` from the `chain_restaurants` DataFrame.

<!--
BEGIN QUESTION
name: q1_1
points: 1
-->

In [ ]:
chains = ...
chains

In [ ]:
grader.check("q1_1")

### Question 1.2
**1 point**

We want to know the restaurant chain that ranks $n$th in RB's chain restaurant rankings; that is, the chain restaurant with the $n$th highest sales in 2020. But to do so for various values of $n$, we would have to write a long query every time. Create a function called `rank_chain` that takes as input a ranking $n$ between 1 and 250 and returns the name of the chain ranked $n$th. Example behavior of the function is shown below.

```py
>>> rank_chain(2)
'Starbucks'

>>> rank_chain(250)
'Sizzler'
```


<!--
BEGIN QUESTION
name: q1_2
-->

In [ ]:
def rank_chain(n):
    ...

In [ ]:
grader.check("q1_2")

### Question 1.3
**1 point**

The `'Segment_Category'` describes the food and service of each chain. What are the most popular segment categories in `chains`?

Create an array called `ordered_segment_categories` containing all the segment categories, ordered from the most popular segment category to the least popular segment category in `chains`. 


<!--
BEGIN QUESTION
name: q1_3
-->

In [ ]:
ordered_segment_categories = ...
ordered_segment_categories

In [ ]:
grader.check("q1_3")

### Question 1.4
**1 point**

In the previous question, we determined that the segment category that appeared most often was `'Casual Dining & Varied Menu'`. It's not immediately obvious what that means!

Below, assign `casual_varied` to a DataFrame with only the rows in `chains` where the segment category was `'Casual Dining & Varied Menu'`. **Don't sort or make any other modifications**.

<!--
BEGIN QUESTION
name: q1_4
-->

In [ ]:
casual_varied = ...
casual_varied

In [ ]:
grader.check("q1_4")

As you can see, the highest ranking `'Casual Dining & Varied Menu'` segment category restaurant chain is pretty high. You've probably heard of most of these chains before. The chain `'BJ's Restaurant & Brewhouse'` in the `casual_varied` DataFrame is a popular hangout spot for many UCSD students, as it's right near campus. Have you heard about their [giant pizookie platter](https://www.tiktok.com/@_breannabrooks/video/7483334772870106398)?

Remember that the data that we work with as data scientists is more than just a bunch of numbers, it is based on the world around us.

### Question 1.5
**2 points**

In the last two questions, we looked at the most common segment categories in `chains`. But what if we are interested in determining the segment categories that averaged the most sales?

Below, assign `top_selling_segments` to a DataFrame with two columns, `'Segment_Category'` and `'Average_Sales'`, such that:
- Each row corresponds to a single segment category, and the `'Average_Sales'` column contains the average (mean) sales for each category.
- Only the segment categories with average sales of over 1 billion dollars are included. (Note, \$1 billion is equivalent to `1000` in our data's units.)
- Rows are sorted by `'Average_Sales'` in decreasing order.

The first few rows of `top_selling_segments` should look like this:

|     | Segment_Category            |   Average_Sales     |
-----:|----------------------------:|--------------------:|
 **0**| Quick Service & Burger      |         4550.944444 |
 **1**| Quick Service & Mexican     |         4178.000000 |
 **2**| Quick Service & Coffee Cafe |         3243.444444 |

<!--
BEGIN QUESTION
name: q1_5
points: 2
-->

In [ ]:
top_selling_segments = ...
top_selling_segments

In [ ]:
grader.check("q1_5")

### Question 1.6
**2 points**

Notice that many of the categories with high average sales include "Quick Service". Let us compare the "Quick Service" restaurant chains and the non-"Quick Service" chains. Find the difference between the average sales for all "Quick Service" restaurant chains and the average sales for all non-"Quick Service" chains in the `chains` DataFrame. Save the answer to `quick_sales_diff`.

*Notes*: 
- If the segment category has the words "Quick Service" in it, it is considered a "Quick Service" chain.
- Your answer should be positive.

*Hint*: You can use the `-` operator on a boolean Series to negate the entire Series. Example behavior of the operation is shown below:

```py
>>> s = bpd.Series(np.array[False, True, True])
>>> s
0   False
1   True
1   True
>>> -s
0   True
1   False
1   False
```


<!--
BEGIN QUESTION
name: q1_6
points: 2
-->

In [ ]:
quick_sales_diff = ...
quick_sales_diff

In [ ]:
grader.check("q1_6")

### Question 1.7
**2 points**

So far, we haven't really looked at the `'YOY_Sales'` column in `chains`. Remember, the values in `'YOY_Sales'` tell us the percentage change in sales from 2019 to 2020 for each restaurant chain (YOY means "Year-over-Year"); a `'YOY_Sales'` value of 8.6% means the restaurant earned 8.6% more in sales in 2020 than it did in 2019. A negative value for `'YOY_Sales'` means that a restaurant's sales decreased from 2019 to 2020.

In [ ]:
# Returns an array of the first five elements in the YOY_Sales column just for us to see
np.array(chains.get('YOY_Sales').take(np.arange(5)))

Since the values in the `'YOY_Sales'` column are stored as strings, not numbers, we can't reliably sort by `'YOY_Sales'`. (Try it out ‚Äì if you sort by `'YOY_Sales'` in decreasing order, it will tell you the highest `'YOY_Sales'` any restaurant had was 9.50%, though there are several restaurants with `'YOY_Sales'` values of over 10%.)

In [ ]:
# Use this cell for experimentation, if you want!

#### Part a)
**1 point**

As we saw above, a string like `'4.80%'` doesn't help us. Write a function `percent_str_to_prop` that takes in a percentage string and returns the corresponding proportion, which should be a decimal between 0 and 1. Example behavior of the function is shown below.

```py
>>> percent_str_to_prop('4.80%')
0.048

>>> percent_str_to_prop('-15.8%')
-0.158
```

<!--
BEGIN QUESTION
name: q1_7a
-->

In [ ]:
def percent_str_to_prop(pct_str):
...

In [ ]:
grader.check("q1_7a")

#### Part b)
**1 point**

Now that we have a function to change a percentage string into a decimal proportion, create a new DataFrame called `chains_YOY` which has the same columns as `chains`, except the values in the `'YOY_Sales'` column should be proportions.

<!--
BEGIN QUESTION
name: q1_7b
-->

In [ ]:
chains_YOY = ...
chains_YOY

In [ ]:
grader.check("q1_7b")

### Question 1.8
**1 point**

The `'Sales'` data in the `chains` DataFrame comes from 2020. We want to find out what the sales were for 2019. Create a new column in `chains_YOY` named ``Sales_2019``, which contains the sales for each chain in 2019, in millions of dollars. 

<!--
BEGIN QUESTION
name: q1_8
-->

In [ ]:
chains_YOY = ...
chains_YOY

In [ ]:
grader.check("q1_8")

### Question 1.9
**1 point**

The Year-over-Year sales metric may not be very intuitive for some. So let's categorize the `'YOY_Sales'` column into 5 categories as follows:

| Growth Category | Interpretation | Year-over-Year Sales |
| --- | --- | --- |
| 5 | rapid increase | $\geq 0.10$ |
| 4 | steady increase | $[0.025, 0.10)$ |
| 3 | stagnant | $[-0.025, 0.025)$ | 
| 2 | steady decrease | $[-0.10, -0.025)$ |
| 1 | rapid decrease | $< -0.10$ |

Remember, $[a, b)$ means greater than or equal to $a$ and less than $b$.

Create a new DataFrame called `chains_growth` with all the columns in `chains_YOY` plus a sixth column called `'Growth_Category'` with the corresponding numerical growth category. The first few rows of `chains_growth` should look like this:

|     |   Rank | Restaurant   |   Sales | YOY_Sales   | Segment_Category            | Sales_2019 | Growth_Category   |
-----:|-------:|-------------:|--------:|------------:|----------------------------:|-:|------------------:|
 **0**|      1 | McDonald's   |   40517 | 0.003        | Quick Service & Burger      | 40395.812562	 |3   |
 **1**|      2 | Starbucks    |   18485 | -0.135       | Quick Service & Coffee Cafe | 21369.942197	|1   |
 **2**|      3 | Chick-fil-A  |   13745 | 0.130      | Quick Service & Chicken     | 12163.716814|5    |

<!--
BEGIN QUESTION
name: q1_9
-->

In [ ]:
chains_growth = ...
chains_growth

In [ ]:
grader.check("q1_9")

### Question 1.10
**1 point**

Let's find the chains that earned the prestigious `'Growth_Category'` value of 5 (rapid increase). In the variable `rapid_growth_chains`, create an array of the names of such chains, sorted in alphabetical order.

<!--
BEGIN QUESTION
name: q1_10
-->

In [ ]:
rapid_growth_chains = ...
rapid_growth_chains

In [ ]:
grader.check("q1_10")

Do you know any of these restaurants? If not, maybe you will in a few years! üìà

### Question 1.11
**2 points**

Since there are five possible values for `'Growth_Category'`, we might expect each growth category value to be associated with about $1/5 = 20\%$ of restaurants. Let's see if that's the case. Set the variable `unpopular_growth_category` to the number (1 through 5) representing the growth category associated with the fewest number of restaurants. Set the variable `unpopular_proportion` to the proportion of restaurants with this growth category. 

<!--
BEGIN QUESTION
name: q1_11
points: 2
-->

In [ ]:
unpopular_growth_category = ...
unpopular_proportion = ...
print(f"The most unpopular growth category was {unpopular_growth_category}; the proportion of restaurants in this category was {unpopular_proportion}.")

In [ ]:
grader.check("q1_11")

This is a good time to pause and remember the nature of our data. Since we're looking at only the top 250 chain restaurants by 2020 sales, our data set does not accurately represent what was going on in the restaurant industry as a whole. We might see a very different distribution of growth categories if we were to look at a data set of the all chain restaurants instead of just the top 250. Understanding the context of how our data was collected is crucial to being able to interpret results and draw meaningful conclusions.

### Question 1.12
**2 points**

Earlier, we investigated how each segment category performed in terms of average sales for 2020. Now we'll compare segment categories by their growth category. 

Say you are looking to invest in some restaurant chains and instead of sales, you are more interested in growth, as determined by the `'Growth_Category'`. Plot a horizontal bar chart showing the mean growth category for the 20 segment categories with the highest mean growth categories. 

Use the bar chart to help you decide the best three segment categories of restaurants to invest in. Assign your result, as an array of three strings, to the variable `invest_segment_categories`. 

*Note*: It's okay to type by hand the values in `invest_segment_categories` after looking at your bar chart.

In [ ]:
# Make your bar chart here.
invest_segment_categories = ...
invest_segment_categories

In [ ]:
grader.check("q1_12")

<a id='part2'></a>
## Part 2 ‚Äì Cities üåÜ

Awesome! Now that we've gotten a feel for the `chains` dataset, let's move on to the `future` and `independents` datasets. Since both datasets include location information, we'll focus on identifying "hot food cities". üî• 

Remember, the `future` DataFrame contains information about the fastest-growing chains with sales between \\$25 and \\$50 million ‚Äì there's no overlap between the chains in `future` and the chains in `chains` since the "smallest" chain in `chains` made \\$96 million last year. In `future`,  we're given the locations where the chains are headquartered. In the `independents` DataFrame, the restaurants are not chains, so we're given their actual locations.

### Question 2.1
**1 point**

Let's start with the `independents` DataFrame. Unlike most of the restaurants in `chains`, many independent restaurants in our data set are üí≤üí≤üí≤üí≤. Assign `most_expensive_restaurant` to a list containing the [`'Restaurant'`, `'City'`, `'Average Check'`] of the restaurant with the highest average check in the `independents` dataset. When creating this list, avoid typing the values by hand; get Python to extract the information for you.

<!--
BEGIN QUESTION
name: q2_1
-->

In [ ]:
most_expensive_restaurant = ...
most_expensive_restaurant

In [ ]:
grader.check("q2_1")

### Question 2.2
**1 point**

Which restaurant in `independents` has the lowest sales per meal served? Assign the restaurant name to the variable `lowest_spm_restaurant` and also assign the sales per meal for this restaurant to `lowest_spm`.

<!--
BEGIN QUESTION
name: q2_2
-->

In [ ]:
lowest_spm_restaurant = ...
lowest_spm = ...
print(f"The restaurant with the lowest sales per meal is {lowest_spm_restaurant}; the sales per meal at this restaurant was {lowest_spm} dollars.")

In [ ]:
grader.check("q2_2")

### Question 2.3
**1 point**

Unless you spend a lot of time in Tennessee, chances are you've probably never heard of this restaurant. Here's how the restaurant describes itself on its [website](https://thepancakepantry.com/):

*Since 1961, we‚Äôve been serving scratch-made pancakes and much more to visitors and locals alike. We start every day bright and early at 6 o‚Äôclock in the morning, offering our full menu with 23 scratch-made varieties of pancakes, fresh-cooked eggs and omelets, waffles, and even sandwiches and salads.*

Sorting `independents` by `Meals Served` shows that the `most_expensive_restaurant` served far fewer meals than the `lowest_spm_restaurant`, as you might expect.

In [ ]:
independents.sort_values('Meals Served')

This may make you wonder if more expensive restaurants serve fewer meals in general. Create an appropriate data visualization based on the `independents` DataFrame that helps you answer this question.

<!-- BEGIN QUESTION -->

<!--
BEGIN QUESTION
name: q2_3
manual: true
-->

In [ ]:
# Make your data visualization here.

<!-- END QUESTION -->



### Question 2.4
**3 points**

Let's start working with the cities in the `independents` DataFrame. Run the following cell to get a feel for the type of cities that appear.

In [ ]:
independents

Some cities appear many times, like `'Miami'` and `'Miami Beach'` (which are actually two different cities). Others appear only once, like `'La Jolla'`.

Below, assign `city_checks` to a DataFrame with index `'City'` and column `'Average Check'`, containing the **median** `'Average Check'` in all cities with at least 3 restaurants in the dataset, sorted by median `'Average Check'` in decreasing order. The first few rows of `city_checks` should look like this:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Average Check</th>
    </tr>
    <tr>
      <th>City</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Las Vegas</th>
      <td>129.5</td>
    </tr>
    <tr>
      <th>Miami Beach</th>
      <td>129.0</td>
    </tr>
    <tr>
      <th>Chicago</th>
      <td>97.0</td>
    </tr>
  </tbody>
</table>

*Note*: This question is challenging and takes multiple steps, so feel free to break it down and use as many lines of code as you need.

<!--
BEGIN QUESTION
name: q2_4
points: 3
-->

In [ ]:
city_checks = ...
city_checks

In [ ]:
grader.check("q2_4")

### Question 2.5
**1 point**

Now we'll look at the cities in the `future` DataFrame.

In [ ]:
future

We're eventually going to want to merge `independents` and `future` by city, but right now we can't do that, since `future` does not have a column with just the name of the city in it. `future`'s `'Location'` column also includes the state's name.

Below, create a DataFrame called `future_with_city` with the `'Rank'`, `'Restaurant'`, `'Sales'`, and `'YOY_Sales'` columns from `future` but with an additional column, `'City'`, that contains the name of the city in which the restaurant is headquartered. The first few rows of `future_with_city` are shown below; the order of the columns in `future_with_city` must match the output below.

|    |   Rank | Restaurant   | City             |   Sales | YOY_Sales   |
|-----:|-------:|-------------:|-----------------:|--------:|------------:|
**0**     |      1 | Duck Donuts   | Mechanicsburg          |      50 | 28.50%      |
**1**       |      2 | Just Salad  | New York        |      50 | 28.10%      |
**2**       |      3 | Eggs Up Grill     | Spartanburg |      49 | 71.20%       |


*Hint*: If you pass in a `list` of columns to `.get`, the resulting DataFrame will have only the columns you listed, in the order that you listed them.

<!--
BEGIN QUESTION
name: q2_5
-->

In [ ]:
future_with_city = ...
future_with_city

In [ ]:
grader.check("q2_5")

### Question 2.6
**3 points**

We will say a "hot food city" is a city with at least one restaurant in the Independents 100 (`independents`) and at least one restaurant in the Future 50 (`future_with_city`).

Below, create a DataFrame `hot_cities` indexed by `'City'` and having two columns,  `'Independents_100'` and `'Future_50'`. Each row should correspond to a hot food city, and the values in the columns should represent the number of restaurants in that city that appear on the Independents 100 and Future 50, respectively. The first few rows of `hot_cities` should look like this:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Independents_100</th>
      <th>Future_50</th>
    </tr>
    <tr>
      <th>City</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Atlanta</th>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Austin</th>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Chicago</th>
      <td>16</td>
      <td>1</td>
    </tr>
  </tbody>
</table>

<!--
BEGIN QUESTION
name: q2_6
points: 3
-->

In [ ]:
hot_cities = ...
hot_cities

In [ ]:
grader.check("q2_6")

<!-- BEGIN QUESTION -->

### Question 2.7
**1 point**

For each city in `hot_cities`, let us define the "food hotness" of a city as the sum of the `Independents_100` and `Future_50` columns of `hot_cities`. In other words, the food hotness of a city is the total number of restaurants in `independents` located in that city plus the total number of mid-size chains in `future` headquartered there. 

To visualize the `hot_cities` DataFrame, create an overlaid horizontal bar chart showing, for each hot food city, how many of that city's restaurants appear on the Independents 100 rankings, and how many appear on the Future 50 rankings. 

Organize the cities so that the city with the highest food hotness appears at the top of the bar chart, and the city with the lowest food hotness appears at the bottom. While you will use food hotness to order the bars in your bar chart, each city should just have two bars, one for the Independents 100 and the other for the Future 50.



<!--
BEGIN QUESTION
name: q2_7
manual: true
-->

In [ ]:
# Make your overlaid horizontal bar chart here.

<!-- END QUESTION -->



### Question 2.8
**2 points**

Now, we want to compare the food hotness of a city with its population. Is it simply the case that larger cities are considered hotter because they have larger populations? How do we measure the "foodiness" of a city, taking into account its population?

Use the `populations` dataset loaded below to visually compare food hotness and 2021 population using a scatter plot. Then assign to `foodiest_city` the name of the city with the highest food hotness per capita. Food lovers, this is where you might want to plan your next vacation! ‚úàÔ∏è

In [ ]:
populations = bpd.read_csv("data/populations.csv")
populations

In [ ]:
# Make your scatter plot here.
foodiest_city = ...
foodiest_city

In [ ]:
grader.check("q2_8")

<a id='part3'></a>
## Part 3 ‚Äì Stars ‚≠êÔ∏è

So far, we have been looking at restaurant data from a company that provides business intelligence for restaurants. Therefore, our data has focused on important business concepts, like sales and growth. But are these profitable, fast-growing restaurants actually serving up delicious food that we want to eat? For that information, we ask the people of Yelp. 

In this section, we'll work with a dataset of Yelp ratings from January 2023 for the 100 restaurants in `independents`. In the cell below, we load in our Yelp data as a DataFrame called `ratings`.

In [ ]:
ratings = bpd.read_csv('data/Yelp.csv')
ratings

### Question 3.1
**1 point**

Notice that in the `independents` DataFrame, certain rows include the city name in parentheses as part of the restaurant name. An example is shown below.

In [ ]:
independents.take([3])

This will be problematic if we try to merge the `independents` DataFrame and the `ratings` DataFrame, since `ratings` does not necessarily contain the city in parentheses in the `'Restaurant'` column.

To fix this, write a function called `remove_location`, which takes in a string value containing the restaurant name and removes any location information listed within parentheses. Example behavior of the function is shown below.

```py
>>> remove_location('Maple & Ash (Chicago)')
'Maple & Ash'

>>> remove_location('Beauty & Essex (New York City)')
'Beauty & Essex'

>>> remove_location('Casa Tua Miami')
'Casa Tua Miami'
```

Then, create two new DataFrames, `independents_to_merge` and `ratings_to_merge` with the same data as `independents` and `ratings`, except with no locations in parentheses in the `'Restaurant'` column.

*Hints:* 
- You may find the string method [index()](https://www.w3schools.com/python/ref_string_index.asp) useful for this question.  
- Make sure to remove any spaces that may be in front of the parentheses.

In [ ]:
def remove_location(name):
    ...

In [ ]:
grader.check("q3_1")

### Question 3.2
**1 point**

It's worth thinking about why our Yelp review data includes `'City'` ‚Äì isn't it enough to just have the name of the restaurant and its rating?

Well, no ‚Äì not if there are multiple restaurants with the same name! Below, assign `duplicate_restaurants` to an array containing the names of restaurants in `independents_to_merge` that appear more than once. You don't need to sort them in any particular order.

In [ ]:
duplicate_restaurants = ...
duplicate_restaurants

In [ ]:
grader.check("q3_2")

Next, we'll create a new DataFrame called `independents_with_ratings` by merging `independents_to_merge` and `ratings_to_merge` on both `'Restaurant'` and `'City'`.

We need to merge by both columns to correctly handle the duplicate restaurants we identified above. Think about what would happen if we merged by only `'Restaurant'`.

We haven't yet seen how to merge two DataFrames on multiple columns, but it turns out that if you just omit all the optional parameters in the call to `merge`, the DataFrames will be merged on all column labels that are common to both DataFrames.

Recall the column names of the `independents_to_merge` and `ratings_to_merge` DataFrames by running the next two cells.

In [ ]:
independents_to_merge.columns

In [ ]:
ratings_to_merge.columns

The column names appearing in both DataFrames are exactly `'Restaurant'` and `'City'`, the two columns we want to merge on. This makes our call to `merge` simple. Run the cell below to merge the two DataFrames based on `'Restaurant'` and `'City'`.

In [ ]:
independents_with_ratings = independents_to_merge.merge(ratings_to_merge) 
independents_with_ratings

### Question 3.3
**2 points**

For each state, find the proportion of independent restaurants in that state that have at least a 4 star rating. Save your result to a `Series` called `state_proportions` indexed by state name and sorted in ascending order.

<!--
BEGIN QUESTION
name: q3_3
points: 2
-->

In [ ]:
state_proportions = ...
state_proportions

In [ ]:
grader.check("q3_3")

<!-- BEGIN QUESTION -->

### Question 3.4
**1 point**

Are higher-rated restaurants more expensive? Make a vertical bar chart of restaurant `'Rating'` versus **median**`'Average Check'` to see if there is an association between these variables. Note that we're thinking of `'Rating'` as a categorical variable here.

<!--
BEGIN QUESTION
name: q3_4
manual: true
-->

In [ ]:
# Make your vertical bar chart here.

<!-- END QUESTION -->



You should be able to see that higher-rated restaurants are more expensive, which should not be too surprising.

### Question 3.5
**3 points**

In the previous question, we thought of `'Rating'` as a categorical variable. Now let's treat `'Rating'` as a numerical variable and look at its distribution to understand what kind of ratings the restaurants in `independents_with_ratings` receive. 

#### Part a)
**1 point**

Set the variable `rating_bins` to an array of values such that:
- a  histogram of `'Rating'` with these bins has each distinct value of `'Rating'` in a separate bin, 
- there are no spaces between the bins, 
- the first bin includes the lowest value in the `'Rating'` column, and 
- the last bin includes the highest value in the `'Rating'` column.

<!--
BEGIN QUESTION
name: q3_5a
-->

In [ ]:
rating_bins = ...
independents_with_ratings.plot(kind='hist', y='Rating', bins = rating_bins, density=True, ec='w');

In [ ]:
grader.check("q3_5a")

#### Part b)
**1 point**

Your histogram should show you that very few restaurants in `independents_with_ratings` got the lowest rating. In fact, there are only five! Set `worst_restaurants` to an array with the names of these restaurant, and get the average of `Average Check` of these five restaurants and assign this value to the variable `worst_avg_check`.
<!--
BEGIN QUESTION
name: q3_5b
-->

In [ ]:
worst_restaurants = ...
worst_avg_check = ...

print(f"The worst restaurants are {worst_restaurants}; the average check at these restaurant is {worst_avg_check} dollars.")

In [ ]:
grader.check("q3_5b")



#### Part c)
**1 point**

In a density histogram, it can be hard to tell the exact height of a bar from looking at the histogram, but if you know the data from which the histogram was generated, you should be able to figure it out. Use `independents_with_ratings` to determine the exact height of the bar in the histogram that corresponds to restaurants with a rating of 3.5 stars. Save your result as `hist_height`.

*Hint*: You can check if your answer is approximately correct by inspecting the histogram in Part (a).

<!--
BEGIN QUESTION
name: q3_5c
-->

In [ ]:
hist_height = ...
hist_height

In [ ]:
grader.check("q3_5c")

### Question 3.6
**3 points**

Lastly, we want to examine the relationship between average check and star rating, separately in each city. To do this, we can use `.groupby` with subgroups. Create a DataFrame called `check_by_city_and_rating` that shows the **median** `'Average Check'` value of restaurants for each city-rating combination. Since there are many such pairs, limit their number in two ways:
- Only include cities that have at least three restaurants in `independents_with_ratings`.
- Only include full stars earned in the rating. For example, a rating of 3.5 should be counted the same as a rating of 3.0 for this problem.

The first few rows of `check_by_city_and_rating` should look like this:

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>Average Check</th>
    </tr>
    <tr>
      <th>City</th>
      <th>Rounded_Rating</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">Chicago</th>
      <th>3.0</th>
      <td>82.0</td>
    </tr>
    <tr>
      <th>4.0</th>
      <td>99.0</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">Fort Lauderdale</th>
      <th>3.0</th>
      <td>72.0</td>
    </tr>
    <tr>
      <th>4.0</th>
      <td>68.0</td>
    </tr>
    <tr>
      <th>Las Vegas</th>
      <th>3.0</th>
      <td>122.0</td>
    </tr>
  </tbody>
</table>

*Hint*: The function `np.floor` should be useful here. Feel free to look up what it does.

*Note*: This question is similar to Question 2.4, where we looked at the median `'Average Check'` by city. Referring back to how you solved that problem might be helpful. As with Question 2.4, this is a challenging problem that takes multiple steps, so feel free to break it down and use as many lines of code as you need.


<!--
BEGIN QUESTION
name: q3_6
points: 3
-->

In [ ]:
check_by_city_and_rating = ...
check_by_city_and_rating

In [ ]:
grader.check("q3_6")

## Congratulations! You've completed the Midterm Project!

Just a few things left:

**_Citations:_** Did you use any generative artificial intelligence tools to assist you on this assignment? If so, please state, for each tool you used, the name of the tool (ex. ChatGPT) and the problem(s) in this assignment where you used the tool for help.

<hr style="color:Maroon;background-color:Maroon;border:0 none; height: 3px;">

Please cite tools here.

<hr style="color:Maroon;background-color:Maroon;border:0 none; height: 3px;">

## Submission Instructions üìß

As usual, follow these steps to submit your assignment:

Select `Kernel -> Restart & Run All` to ensure that you have executed all cells, including the test cells.
1. Read through the notebook to make sure everything is fine and all tests passed.
1. Run the cell below to run all tests, and make sure that they all pass.
1. Download your notebook using `File -> Download as -> Notebook (.ipynb)`, then upload your notebook to Gradescope. 
1. If working with a partner, don't forget to add your partner as a group member on Gradescope!
1. Stick around while the Gradescope autograder grades your work. Make sure you see that all tests have passed on Gradescope.
1. Check that you have a confirmation email from Gradescope and save it as proof of your submission.

If running all the tests at once causes a test to fail that didn't fail when you ran the notebook in order, check to see if you changed a variable's value later in your code. Make sure to use new variable names instead of reusing ones that are used in the tests. 

Remember, the tests here and on Gradescope just check the format of your answers. We will run correctness tests after the due date has passed.

In [ ]:
grader.check_all()